.content {
  text-align: center;
}

/* Places anchor tag in the next line*/
.page-router {
  display: block;
}

.main-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
